@model IEnumerable<TicketMidia.Models.TB_VENDEDOR_REMOTO>

<h3>Vendedor Remoto</h3>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th style="text-align:right">
                <a href="/TB_VENDEDOR_REMOTO/Create" class="btn btn-success btn-sm">Novo Vendedor Remoto</a>
            </th>
        </tr>
    </table>

}
<table class="table small table-striped table-hover" width="500">
    <tr>
        <th>
            <label>Exibidor</label>
        </th>
        <th>
            <label>Vendedor Remoto</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TB_EMPRESA_COMPLEXO.EMP_RZ_SOCIAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VRE_RZ_SOCIAL)
            </td>
            <td>
                <a href="/TB_VENDEDOR_REMOTO/Edit/@item.VRE_CNPJ" class="btn btn-info btn-xs">Editar</a>
                <a href="/TB_VENDEDOR_REMOTO/Delete/@item.VRE_CNPJ" class="btn btn-danger btn-xs">Excluir</a>
            </td>
        </tr>
    }

</table>
