<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h2>TKMidia SCB<br /><small>Envio de Bilheteria para Ancine</small></h2>
    </hgroup>
    <br />
    <p class="lead"><b>Ocorreu um erro ao executar esta ação.</b></p>
    <br />
    <p class="lead">Tente novamente atualizando a página (F5) ou voltando para a última página (Back ou Voltar).</p>
</body>
</html>