
<div style="align-items:center">
    <br />
    <br />
    <table class="table">
        <tr>
            <td>
                <h2>
                    TKMidia SCB<br />
                    <small>Envio de Bilheteria para Ancine</small>&nbsp;&nbsp;&nbsp;
                </h2>
            </td>
            <td >
                @{
                    string data_atual;
                    string[] dateformats = DateTime.Today.GetDateTimeFormats();
                    data_atual = dateformats[14];
                    data_atual = char.ToUpper(data_atual[0]) + data_atual.Substring(1);
                    data_atual = "<p class='lead'>&nbsp;" + data_atual + "</p>";
                 }
                @Html.Raw(data_atual)
                
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="navbar-default"><a href="/BILHETERIA">Não enviados <span class="badge">@ViewBag.qtdNaoEnviado</span></a></li>
                    <li role="presentation" class="navbar-default"><a href="/BILHETERIA/IndexStatus" style="color:red">Envios com Erros <span class="badge">@ViewBag.qtdErro</span></a></li>
                    <li role="presentation" class="navbar-default"><a href="/BILHETERIA/IndexStatus">Envios em Análise <span class="badge">@ViewBag.qtdEmAnalise</span></a></li>
                </ul>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />



    <div class="table">
        <div class="row" style="text-align:justify">
            <div class="col-md-2">
                <a href="/BILHETERIA/CREATE" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Lançar Renda</a>
            </div>
            <div class="col-md-2">
                <a href="/TB_FILME" class="btn bg-primary" role="button"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>&nbsp;&nbsp;Obras (Filmes)</a>
            </div>
            <div class="col-md-2">
                <a href="/BILHETERIA/AtualizaAncine" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Atualizar Ancine</a>
            </div>
            <div class="col-md-2">
                <a href="/TB_SALA" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp;&nbsp;Adimplência Salas</a>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>